{% extends 'base.html.twig' %}

{% block body %}

<h1>Listar ONGs</h1>

<div class="card card-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome social</th>
                <th>Endereço</th>
                <th>Cod. Fiscal</th>
                <th>Site</th>
                <th>Celular</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for ngo in ngos %}
                <tr>
                    <td>{{ ngo.name }}</td>
                    <td>{{ ngo.socialName }}</td>
                    <td>{{ ngo.address.getDistrict}} - {{ ngo.address.getState}}</td>
                    <td>{{ ngo.fiscalCode }}</td>
                    <td>{{ ngo.site }}</td>
                    <td>{{ ngo.phone }}</td>
                    <td>
                        <button class="btn btn-outline-warning">Editar</button>
                        <button class="btn btn-outline-danger">Excluir</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}